<div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-3 mt-3 not-first-row">

	{% for item in nieuws %}

		{% set category = item.nieuwsCategories.one() %}
		<div class="col">
			<div
				class="card border-0 p-0 h-100 tegel">
				{# <div class="nwsimg"> #}
				{% set ft = {
					                        mode:'crop',
											width: 636,
											height: 424,
					                        quality: 90,
					                    } %}

				{% set image = item.image.one() %}
				<a href="{{ item.url }}"><img class="card-image-top img-fluid" src="{{ image.getUrl(ft) }}" alt="{{ image.title }} "/></a>

				<div class="categoryContainer">
					<a href="{{ category.url }}" class="small">
						<span>{{ category }}</span>
					</a>
				</div>
				{# </div> #}
				<div class="card-body nwsItemCopy">
					<a class="nwsItemTitle" href="{{ item.url }}">
						<h3 class="card-title">{{ item.title }}</h3>
						{% if item.intro is not empty %}
							<p class="banner-programma-intro">{{ item.intro|nl2br }}</p>
						{% else %}
							{% set break = 0 %}
							{% for block in item.nieuwsInhoud.all() if break == 0 %}
								{% if block.type == "tekst" %}
									{% set paragraphs = block.tekst|split("</p>") %}
									{{ paragraphs|first|striptags|raw }}
									{% set break = 1 %}
								{% endif %}
							{% endfor %}
						{% endif %}
					</a>
				</div>
			</div>
		</div>
		<!-- /tegel -->

	{% endfor %}
</div>
