{% extends craft.app.request.isAjax and not craft.app.request.isLivePreview ? "_ajax" : "_layout" %}
{% set title = entry.title %}

{% block content %}

	{% if entry.image is not empty %}
		{% set image = entry.image.one() %}
		{% set backgroundImageExtraSmall = image.getUrl('bannerImageXs') %}
		{% set backgroundImageSmall = image.getUrl('bannerImageS640w') %}
		{% set backgroundImageMedium = image.getUrl('bannerImageM1280w') %}
		{% set backgroundImageLarge = image.getUrl('bannerImageL1600w') %}
		{% set backgroundImageExtraLarge = image.getUrl('bannerImageXl2560w') %}
	{% endif %}
	
	{% set rootCategory = entry.nieuwsCategories
		.level('1')
		.one() %}

	<div class="hero d-flex">

		<div class="header container align-self-end">
			<div class="row">
				<div class="col">
					<h1 class="m-0" id="title" data-title="{{ entry.title }}">
						{{ entry.title }}
					</h1>

					{% import "_macros/_ui" as ui %}
					{{ ui.setCategory(rootCategory, 'nieuws') }}
					
				</div>
			</div>
		</div>
	</div>

	<div role="main" class="main container">
		<div class="row">
			<div class="col">
				<article>
					<p class="intro">
						<strong>{{ entry.intro }}</strong>
					</p>

					{% if entry.image is not empty %}
						<picture class="hero-background-picture">
							<source srcset="{{ backgroundImageExtraLarge }}			" media="(min-width: 1920px)">
							<source srcset="{{ backgroundImageLarge }}" 			media="(min-width: 1600px)">
							<source srcset="{{ backgroundImageMedium }}" 			media="(min-width: 1280px)">
							<source srcset="{{ backgroundImageSmall }}" 			media="(max-width: 1279px)">
							<img src="{{ backgroundImageMedium }}" 			alt="picture of {{title}}"/>
						</picture>
					{% endif %}
			
					<div class="nieuws-tekst">
						{{ entry.nieuwsInhoud }}
					</div>

					{% set nieuws = craft.entries()
    	  				.section('nieuws')
    	  				.relatedTo(entry.nieuwsCategories)
    	  				.id('not ' ~ entry.id)
    	  				.orderBy('postDate DESC')
    	  				.limit(4)
    	  				.all() %}

					{% if nieuws|length %}
						<aside>
							<h2 class="mt-5 mb-3">Lees ook dit:</h2>

							{% include "_includes/nieuwsoverzicht" with { nieuws: nieuws, numberOfItemsIsEven: true } only %}

							<a href="/nieuws" class="button-secondary my-5">Nieuwsoverzicht</a>
						</aside>
					{% endif %}
				</article>
			</div>
		</div>
	</div>
{% endblock %}
