{% extends craft.app.request.isAjax and not craft.app.request.isLivePreview ? "_ajax" : "_layout" %}
{% set title = entry.title %}
{% set heroHeight = 75 %}

{% block content %}
	{% set image = entry.image.one() %}
	{% set rootCategory = entry.nieuwsCategories
		.level('1')
		.one() %}
	{% set backgroundImageSmall = image.getUrl('bannerImageBackgroundPortraitSmall576w') %}
	{% set backgroundImageMedium = image.getUrl('bannerBackgroundImageLandscapeMedium1280w') %}

	<div class="d-flex hpBanner banner">
		<picture style="width: 100%; height: {{heroHeight}}vh">
			<source srcset="{{ backgroundImageMedium }}" media="(min-width: 1200px)	" style="height:{{heroHeight}}vh; object-fit:cover; object-position:center; 	width:100%; position: relative">
			<img src="{{ backgroundImageSmall }}" style="height:{{heroHeight}}vh; 	object-fit:cover; object-position:center; width:100%; position: relative"/>
		</picture>
		<div
			class="container banner-content align-self-end" style="position: absolute; left:0; right:0;">

			<div class="row mb-3">
				<div class="col">
					{% import "_macros/_ui" as cat %}
					{{ cat.setRootCategory(rootCategory, 0) }}
				</div>
			</div>

			<div class="row">
				<div class="col">
					<h1 id="title" data-title="{{ entry.title }}">
						<span>{{ entry.title }}</span>
					</h1>
				</div>
			</div>
		</div>
	</div>


	<div role="main" class="main container">
		<div class="row">
			<div class="col">
				<section>
					<p>
						<strong>{{ entry.intro }}</strong>
					</p>

					{% for block in entry.nieuwsInhoud.all() %}
						{% switch block.type %}

							{% case "tekst" %}
								<div class="nieuws-tekst my-3">
									{{ block.tekst }}
								</div>

							{% case "fotoreeks" %}
								<h2>Foto's</h2>
								<div class="nieuws-fotoreeks my-3">
								
									{% for foto in block.fotoreeks.all() %}

									{% set img = {
                  					  mode:'crop',
                  					  width: 200,
                  					  height: 200,
                  					  quality: 90
                  					} %}

									<img src="{{ foto.getUrl(img) }}" alt="{{ foto.title }}"/>

									{% endfor %}
								</div>
						{% endswitch %}
					{% endfor %}
				</section>
			</div>
		</div>


		{% set nieuws = craft.entries()
      .section('nieuws')
      .relatedTo(entry.nieuwsCategories)
      .id('not ' ~ entry.id)
      .orderBy('postDate DESC')
      .limit(4)
      .all() %}

		{% if nieuws|length %}
			<section id="suggestions" class="mt-5">
				<div class="row">
					<div class="col">
						<h5>Lees ook dit:</h5>
					</div>
				</div>
				<div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-3 my-3">
					{% for item in nieuws %}
						{% set category = item.nieuwsCategories.one() %}

						<div class="col">
							<div
								class="card border-0 p-0 h-100 tegel">

								{# Eerst source image laden #}
								{% set image = item.image.one() %}
								{# Dan de verschillende imagetransforms #}
								{% set imageSrcsetSmall = image.getUrl('cardImageSmall390w') %}
								{% set imageSrcsetDefault = image.getUrl('cardImageMedium440w') %}
								{% set imageSrcsetLarge = image.getUrl('cardImageLarge556w') %}
								{# Gebruik srcset om responsive images in te laden (gebaseerd op schermgrootte en pixeldensiteit) #}
								{# TODO: size nog verder specifieren! #}
									<a class="nwsItemTitle" href="{{ item.url }}"> <img class="card-image-top img-fluid" src="{{ imageSrcsetDefault }}" srcset="{{ imageSrcsetSmall }} 390w, {{ imageSrcsetDefault }} 440w, {{ imageSrcsetLarge }} 556w" alt="{{ image.title }}"/>
								</a>
								<div class="category-container">
									<a href="{{ category.url }}" class="small">
										<span>{{ category }}</span>
									</a>
								</div>
								<div class="card-body nwsItemCopy">
									<a class="nwsItemTitle" href="{{ item.url }}">
										<h3 class="card-title">{{ item.title }}</h3>
										{% if item.intro is not empty %}
											<p class="banner-programma-intro">{{ item.intro|nl2br }}</p>
										{% else %}
											{% set break = 0 %}
											{% for block in item.nieuwsInhoud.all() if break == 0 %}
												{% if block.type == "tekst" %}
													{% set paragraphs = block.tekst|split("</p>") %}
													{{ paragraphs|first|striptags|raw }}
													{% set break = 1 %}
												{% endif %}
											{% endfor %}
										{% endif %}
									</a>
								</div>
							</div>
						</div>

					{% endfor %}
				</div>
				<div class="">
					<div class="col">
						<a href="/nieuws" class="button-secondary">Nieuwsoverzicht</a>
					</div>
				</div>

			</section>
		{% endif %}
	</div>
{% endblock %}
