{% import "_macros/_ui" as ui %}

{% if numberOfItemsIsEven == false %}
	{% set item = nieuws|first %}
	{# If firstRow item is displayed, slice first item from array #}
	{% set nieuws = nieuws|slice(1,nieuws|length) %}


	{% set category = item.nieuwsCategories.one() %}
	<div class="row row-cols-1 my-3"> 
		<div class="col">
			<article class="card border-0 p-0 h-100 position-relative">
				{# Eerst source image laden #}
				{% set image = item.image.one() %}
				{# Dan de verschillende imagetransforms #}
				{% set imageSrcsetSmall = image.getUrl('homepageLatestS') %}
				{% set imageSrcsetMedium = image.getUrl('homepageLatestM') %}
				{% set imageSrcsetLarge = image.getUrl('homepageLatestL') %}

				<a href="{{ item.url }}">
					<img 
						class="card-img-top img-fluid" 
						alt="{{ image.title }}"
						src="{{ imageSrcsetSmall }}" 
						srcset="
							{{ imageSrcsetSmall }} 360w,
							{{ imageSrcsetMedium }} 800w,
							{{imageSrcsetLarge }} 1600w" 
						sizes="(max-width: 384px) 100vw,
							(max-width: 767px)  540px,
							(max-width: 991px) 720px,
							(max-width: 1199) 960px,
							60vw"
					/>
				</a>
				<div class="position-absolute top-0 end-0 m-2">
					{{ ui.setCategory(category) }}
				</div>
				<div class="card-body p-4">
					<a href="{{ item.url }}">
						<h3>{{ item.title }}</h3>
						{% if item.intro is not empty %}
							<p>{{ item.intro|nl2br }}</p>
						{% else %}
							{% set break = 0 %}
							{% for block in item.nieuwsInhoud.all() if break == 0 %}
								{% if block.type == "tekst" %}
									{% set paragraphs = block.tekst|split("</p>") %}
									<p>{{ paragraphs|first|striptags|raw }}</p>
									{% set break = 1 %}
								{% endif %}
							{% endfor %}
						{% endif %}
					</a>
				</div>
			</article>
		</div>
	</div>
{% endif %}

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-3">
	{% for item in nieuws %}
		{% set category = item.nieuwsCategories.one() %}
		<div class="col">
			<article
				class="card border-0 p-0 h-100 position-relative">

				{# Eerst source image laden #}
				{% set image = item.image.one() %}
				{# Dan de verschillende imagetransforms #}
				{% set imageSrcsetSmall = image.getUrl('homepageLatestS') %}
				{% set imageSrcsetMedium = image.getUrl('homepageLatestM') %}
				{% set imageSrcsetLarge = image.getUrl('homepageLatestL') %}

				<a href="{{ item.url }}">
					<img 
						class="card-img-top img-fluid" 
						alt="{{ image.title }}"
						src="{{ imageSrcsetSmall }}" 
						srcset="
							{{ imageSrcsetSmall }} 360w,
							{{ imageSrcsetMedium }} 800w,
							{{ imageSrcsetLarge }} 1600w
							" 
						sizes="(max-width: 384px) 100vw,
							(max-width: 767px)  540px,
							(max-width: 991px) 360px,
							(max-width: 1199) 480px,
							30vw"
					/>
				</a>
				<div class="position-absolute top-0 end-0 m-2">
					{{ ui.setCategory(category) }}
				</div>
				<div class="card-body p-4">
					<a href="{{ item.url }}">
						<h3>{{ item.title }}</h3>
						{% if item.intro is not empty %}
							<p>{{ item.intro|nl2br }}</p>
						{% else %}
							{% set break = 0 %}
							{% for block in item.nieuwsInhoud.all() if break == 0 %}
								{% if block.type == "tekst" %}
									{% set paragraphs = block.tekst|split("</p>") %}
									<p>{{ paragraphs|first|striptags|raw }}</p>
									{% set break = 1 %}
								{% endif %}
							{% endfor %}
						{% endif %}
					</a>
				</div>
			</article>
		</div>
	{% endfor %}
</div>
