<ul class="social-media-links">
	{% for block in entry.socialMediaLinks.all() %}
		<li>
			{% switch block.type %}
				{% case 'email' %}
					<a href="{{ block.emailLink }}" target="_blank" class="social-media-link"><img src="../images/icons/email.svg" alt="mail icon" /></a>
				{% case 'facebook' %}
					<a href="{{ block.facebookLink }}" target="_blank" class="social-media-link"><img src="../images/icons/facebook.svg" alt="facebook icon" /></a>
				{% case 'instagram' %}
					<a href="{{ block.instagramLink }}" target="_blank" class="social-media-link"><img src="../images/icons/instagram.svg" alt="instagram icon" /></a>
				{% case 'x' %}
					<a href="{{ block.xLink }}" target="_blank" class="social-media-link"><img src="../images/icons/X.svg" alt="X icon" /></a>
				{% case 'youtube' %}
					<a href="{{ block.youtubeLink }}" target="_blank" class="social-media-link"><img src="../images/icons/youtube.svg" alt="youtube icon" /></a>
				{% case 'spotify' %}
					<a href="{{ block.spotifyLink }}" target="_blank" class="social-media-link"><img src="../images/icons/spotify.svg" alt="spotify icon" /></a>
				{% case 'tiktok' %}
					<a href="{{ block.tiktokLink }}" target="_blank" class="social-media-link"><img src="../images/icons/tiktok.svg" alt="tiktok icon" /></a>
				{% case 'website' %}
					<a href="{{ block.websiteLink }}" target="_blank" class="social-media-link"><img src="../images/icons/website.svg" alt="generic website icon" /></a>
			{% endswitch %}
		</li>
	{% endfor %}
</ul>
