{% set laatstNieuwe = nieuws|first %}


{% set item = laatstNieuwe.item.one() %}


{% set category = item.nieuwsCategories.one() %}
<div class="row">
	<article class="col">
		<div class="tegel p-0">
			<div
				class="firstRow">

				{# Eerst source image laden #}
				{% set image = item.image.one() %}
				{# Dan de verschillende imagetransforms #}
				{% set imageSrcsetSmall = image.getUrl('homepageLaatstNieuweImage300w') %}
				{% set imageSrcsetDefault = image.getUrl('homepageLaatstNieuweImage525w') %}
				{% set imageSrcsetLarge = image.getUrl('homepageLaatstNieuweAfbeelding898w') %}
				{# Gebruik srcset om responsive images in te laden (gebaseerd op schermgrootte en pixeldensiteit) #}
				{# TODO: size nog verder specifieren! #}
					<a class="nwsItemTitle" href="{{ item.url }}"> <img class="img-fluid" src="{{ imageSrcsetDefault }}" srcset="{{ imageSrcsetSmall }} 300w, {{ imageSrcsetDefault }} 525w, {{ imageSrcsetLarge }} 898w" sizes="(min-width: 768px) 75vw, (min-width: 992) 75vw, 100vw" alt="{{ image.title }}"/>
				</a>

				<div class="category-container">
					<a href="{{ category.url }}" class="small">
						<span>{{ category }}</span>
					</a>
				</div>

			</div>
			<div class="nwsItemCopy">
				<a class="nwsItemTitle" href="{{ item.url }}">
					<h3>{{ item.title }}</h3>
					{% if item.intro is not empty %}
						<p class="banner-programma-intro">{{ item.intro|nl2br }}</p>
					{% else %}
						{% set break = 0 %}
						{% for block in item.nieuwsInhoud.all() if break == 0 %}
							{% if block.type == "tekst" %}
								{% set paragraphs = block.tekst|split("</p>") %}
								{{ paragraphs|first|striptags|raw }}
								{% set break = 1 %}
							{% endif %}
						{% endfor %}
					{% endif %}
				</a>
			</div>
		</div>
	</article>
	<!-- /tegel -->
</div>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-3 mt-2 not-first-row">

	{% for nieuws in nieuws|slice(1,nieuws|length) %}

		{% set item = nieuws.item.one() %}

		{% set category = item.nieuwsCategories.one() %}
		<div class="col">
			<div
				class="card border-0 p-0 h-100 tegel">

				{# Eerst source image laden #}
				{% set image = item.image.one() %}
				{# Dan de verschillende imagetransforms #}
				{% set imageSrcsetSmall = image.getUrl('cardImageSmall390w') %}
				{% set imageSrcsetDefault = image.getUrl('cardImageMedium440w') %}
				{% set imageSrcsetLarge = image.getUrl('cardImageLarge556w') %}
				{# Gebruik srcset om responsive images in te laden (gebaseerd op schermgrootte en pixeldensiteit) #}
				{# TODO: size nog verder specifieren! #}
					<a class="nwsItemTitle" href="{{ item.url }}"> <img class="card-image-top img-fluid" src="{{ imageSrcsetDefault }}" srcset="{{ imageSrcsetSmall }} 390w, {{ imageSrcsetDefault }} 440w, {{ imageSrcsetLarge }} 556w" alt="{{ image.title }}"/>
				</a>
				<div class="category-container">
					<a href="{{ category.url }}" class="small">
						<span>{{ category }}</span>
					</a>
				</div>
				<div class="card-body nwsItemCopy">
					<a class="nwsItemTitle" href="{{ item.url }}">
						<h3 class="card-title">{{ item.title }}</h3>
						{% if item.intro is not empty %}
							<p class="banner-programma-intro">{{ item.intro|nl2br }}</p>
						{% else %}
							{% set break = 0 %}
							{% for block in item.nieuwsInhoud.all() if break == 0 %}
								{% if block.type == "tekst" %}
									{% set paragraphs = block.tekst|split("</p>") %}
									{{ paragraphs|first|striptags|raw }}
									{% set break = 1 %}
								{% endif %}
							{% endfor %}
						{% endif %}
					</a>
				</div>
			</div>
		</div>
		<!-- /tegel -->

	{% endfor %}
</div>
