{% extends craft.app.request.isAjax and not craft.app.request.isLivePreview ? "_ajax" : "_layout" %}
{% set title = entry.title %}

{% block content %}

	{# import macro's #}
	{% import "_macros/_ui" as ui %}
	{% set image = null %}
	{# Banner #}
	{% if entry.programmaBanner is not empty %}
		{% set image = entry.programmaBanner.one() %}

		{% set backgroundImageExtraSmall = image.getUrl('bannerImageXs') %}
		{% set backgroundImageSmall = image.getUrl('bannerImageS640w') %}
		{% set backgroundImageMedium = image.getUrl('bannerImageM1280w') %}
		{% set backgroundImageLarge = image.getUrl('bannerImageL1600w') %}
		{% set backgroundImageExtraLarge = image.getUrl('bannerImageXl2560w') %}
	{% endif %}
	
	{% set rootCategory = entry.programmaStijl
		.level('1')
		.one() %}

	{% set subCategories = entry.programmaStijl
        .level('>1')
        .all() %}

		<div class="header container align-self-end">
			<div class="row flex-column flex-md-row mb-2">
				<div class="col-3 col-md-auto">
					{{ ui.setLogo(entry.programmaLogo.one(), "banner-logo rounded-circle h-100") }}
				</div>

				<div class="col col-md-auto d-flex flex-column justify-content-center justify-content-md-end">

					{# Haal de programma dag, begin en einduur op uit programScheme matrix (voorlopig ideale workflow) #}
					{# TODO: Deze code is (nog) niet efficient! (zie hiervoor craft docs: eager-loading) #}

					{# Eerst checken voor listen up. Indien ja: genereer een unieke uurmelding, anders: zoek per weekdag de timeslots op in het weekdag matrixveld, die gerelateerd zijn aan entry #}
						{% if entry.title == 'Listen Up' %}
							<div class="mt-1 programma-van-tot"> <span>Alle niet-live programma-uren.</span>
						</div>

					{% else %}
						{# Zoek de weekdagen op wanneer het programma (entry) geprogrammeerd staat.  #}
						{% set weekdagen = craft.entries.section('programScheme')
							.relatedTo({
                    		        targetElement: entry,
                    		        field: 'weekdag.programma'
                    		    })
							.orderBy('title')
							.all() %}
						{# De string variabelen(dagen waarop wordt uitgezonden, het uur waarop wordt uitgezonden) waarmee de programmering wordt opgebouwd #}
						{% set dagString = 'Elke' %}
						{% set timing = null %}
						{% for dag in weekdagen %}
							{% set dagCropped = dag.title|slice(3, dag.title|length)|lcfirst %}
							{% if dag is same as(weekdagen|first) %}
								{% set dagString = "#{dagString} #{dagCropped}"  %}
							{% else %}
								{% set dagString = "#{dagString}, #{dagCropped}" %}
							{% endif %}
								{# Als alle dagen in de dagString geprint zijn, afsluiten met 'van' #}
								{# {% set dagString = "#{dagString} van " %} 
								{# Hier gaan we ervan uit dat een programma, herhalend over meerdere dagen, steeds op het zelfde uur   geprogrammeerd staat 	#}
							{% if dag is same as(weekdagen|last) %}
								{% set timeslot = dag.weekdag.relatedTo({
                        	    	targetElement: entry,
                        	    	field: 'programma'
                        	    	})
									.one() 
								%}

								{% set timing = "#{timeslot.beginuur|time('short')} tot #{timeslot.einduur|time('short')}" %}
							{% endif %}
						{% endfor %}

						{# Programmering: De eerder opgebouwde stringvariabelen worden hier samengevoegd #}
							<div class="mt-1 programma-van-tot"> <span>{{ [dagString, timing]|join(' van ') }}</span>
						</div>

					{% endif %}

					<h1 id="title" data-title="{{ entry.title }}" class="my-0">
						<span>{{ entry.title }}</span>
					</h1>

					<div class="d-flex flex-wrap">
						{% if rootCategory is not null %}
							{{ ui.setCategory(rootCategory) }}
						{% endif %}
						{% if subCategories is not null %}
							{% for subCategory in subCategories %}
								{{ ui.setCategory(subCategory) }}
							{% endfor %}
						{% endif %}
					</div>
				</div>
			</div>

		</div>
	<main
		role="main" class="main container">
		{# Programma inhoud #}

		<div class="row">
			<div class="col">
				<section>
					<h2 class="programma-intro mt-0">
						{{ entry.intro|nl2br }}
					</h2>

				{% if entry.programmaBanner is not empty %}
					<div class="my-3">
						<picture class="hero-background-picture">
							<source srcset="{{ backgroundImageExtraLarge }}" media="(min-width: 1920px)">
							<source srcset="{{ backgroundImageLarge }}" media="(min-width: 1600px)">
							<source srcset="{{ backgroundImageMedium }}" media="(min-width: 1280px)">
							<source srcset="{{ backgroundImageSmall }}" media="(max-width: 1279px)">
							<img src="{{ backgroundImageMedium }}" alt="picture of {{title}}"/>
						</picture>
					</div>
				{% endif %}

					{{ entry.programmaInhoud }}
				</section>
				{# Bouw hier de sociale media links met bijhorende iconen op, indien deze velden ingevuld zijn #}
				{% if entry.socialMediaLinks|length %}
					{% include "_includes/programma/socialMediaLinksList"  %}
				{% endif %}

				{% if entry.cloudmix.embed is not null %}
					<section>
						<h2 class="mt-5 mb-3">Herbeluister</h2>
						<div class="mix-sound-cloud">
							{{ entry.cloudmix.render() }}
						</div>
					</section>
				{% endif %}

				{# Programmanieuws overzicht #}
				{% set entries = craft.entries.type('programmanieuws')
					.relatedTo(entry)
					.limit(2) %}
				{% set prgNieuws = entries.all() %}

				{% if entries|length %}
					<section>
						<h2 class="mt-5 mb-3">Berichten</h2>

						{% paginate entries as pageInfo, pageEntries %}
						{% include "_includes/programma/programmanieuws" with { prgNieuws: pageEntries } only %}

						{{ ui.setPagination(pageInfo) }}
					</section>

				{% endif %}

				{# Zoek eerst naar gelateerde stijlen op een hoger categorieniveau dan 2 #}
				{% set stijlen = entry.programmaStijl
					.level('3')
					.all() %}
				{# Indien geen matches, zoek dan op volgende categorieniveaus #}
				{% if stijlen == null %}
					{% set stijlen = entry.programmaStijl
						.level('2')
						.all() %}
							{% endif %}
							{% if stijlen == null %}
								{% set stijlen = entry.programmaStijl
						.level('1')
						.all() %}
				{% endif %}
				{% set entries = craft.entries()
					.relatedTo(stijlen)
					.id('not ' ~ entry.id)
					.limit(4)
					.all() %}
				{% if entries|length %}
					<aside>
						<h2 class="mt-5 mb-3">Misschien vind je deze programma's ook leuk:</h2>
						{% include "_includes/relatedShows" with { entries: entries} only %}
						<a href="/programma" class="button-secondary my-5">Ontdek alle programma's</a>
					</aside>
				{% endif %}
			</div>
		</div>
	</main>
{% endblock %}
