{% extends craft.app.request.isAjax and not craft.app.request.isLivePreview ? "_ajax" : "_layout" %}


{% block content %}
	{% set image = null %}
	{# Banner #}
	{% if entry.programmaBanner.one() is empty %}
		{% set image = generic.programmadefaultbanner.one() %}
	{% else %}
		{% set image = entry.programmaBanner.one() %}	
	{% endif %}
	{% set logo = null %}
	{% if entry.programmaLogo.one() is empty %}
		{% set logo = generic.programmadefaultlogo.one() %}
	{% else %}
		{% set logo = entry.programmaLogo.one() %}
	{% endif %}
	
	{% set rootCategory = entry.programmaStijl
		.level('1')
		.one() %}

	{% set subCategories = entry.programmaStijl
        .level('>1')
        .all() %}



{# {% set backgroundImageSmall = image.getUrl('bannerImageBackgroundPortraitSmall576w') %} #}
{% set backgroundImageSmall = image.getUrl('bannerImageBackgroundPortraitSmall576w') %}
{% set backgroundImageMedium = image.getUrl('bannerBackgroundImageLandscapeMedium1280w') %}

{% set urls = [backgroundImageSmall, backgroundImageMedium] %}
	<div class="hpBanner d-flex banner">
		<picture style="width: 100%; height: 90vh">
			<source srcset="{{ backgroundImageMedium }}" media="(min-width: 1200px)	" style="height:90vh; object-fit:cover; object-position:center; 	width:100%; position: relative">
			<img src="{{ backgroundImageSmall }}"  style="height:90vh; 	object-fit:cover; object-position:center; width:100%; position: 	relative"/>
		</picture>

		<div class="container banner-content align-self-end" style="position: absolute; left:0; right:0;">
			<div class="row mb-lg-4">
				{# <div class="col-2">
					<img class="banner-logo img-fluid" src="{{ logo.url }}" 	alt="">
				</div> #}
				{% if rootCategory is not null %}
					<div class="col-10">
						{% import "_macros/_ui" as cat %}
						{{ cat.setRootCategory(rootCategory, 0) }}<br />
						<h1 class="mt-3"><span>{{ entry.title }}</span></h1>
					</div>
				{% endif %}
			</div>
		</div>
	</div>

	{# Programmatie #}
	<section class="container-fluid editorsPick px-5 py-3">
		<div class="container">
			{# Haal de programma dag, begin en einduur op uit programScheme matrix (voorlopig ideale workflow) #}
			{# TODO: Deze code is (nog) niet efficient! (zie hiervoor craft docs: eager-loading) #}


			{# Eerst checken voor listen up. Indien ja: genereer een unieke uurmelding, anders: zoek per weekdag de timeslots op in het weekdag matrixveld, die gerelateerd zijn aan entry #}
				{% if entry.title == 'Listen Up' %}<h5>
				Alle niet-live programma-uren.
				</h5>

			{% else %}
				{# Zoek de weekdagen op wanneer het programma (entry) geprogrammeerd staat.  #}
				{% set weekdagen = craft.entries.section('programScheme')
					.relatedTo({
                            targetElement: entry,
                            field: 'weekdag.programma'
                        })
					.orderBy('title')
					.all() %}
				{# De string variabelen(dagen waarop wordt uitgezonden, het uur waarop wordt uitgezonden) waarmee de programmering wordt opgebouwd #}
				{% set dagString = 'Elke ' %}
				{% set timing = null %}
				{% for dag in weekdagen %}
					{% set dagCropped = dag.title|slice(3, dag.title|length)|lcfirst %}
					{% if dag == weekdagen|first %}
						{% set dagString = "#{dagString} #{dagCropped}"  %}
					{% else %}
						{# {% set dagString = [dagString, dagCropped]|join(', ') %} #}
						{% set dagString = "#{dagString}, #{dagCropped}" %}
					{% endif %}
					{# Als alle dagen in de dagString geprint zijn, afsluiten met 'van' #}
					{# {% set dagString = "#{dagString} van " %} #}
					{# Hier gaan we ervan uit dat een programma, herhalend over meerdere dagen, steeds op het zelfde uur   geprogrammeerd staat #}
					{% if dag == weekdagen|last %}
						{% set timeslot = dag.weekdag.relatedTo({
                                targetElement: entry,
                                field: 'programma'
                                }).one() %}

						{% set timing = "#{timeslot.beginuur|time('short')} tot #{timeslot.einduur|time('short')}" %}

					{% endif %}
				{% endfor %}
				{# Programmering: De eerder opgebouwde stringvariabelen worden hier samengevoegd #}
				<h5>{{ [dagString, timing]|join(' van ') }}</h5>
				{% if subCategories is not null %}
                    {% for subCategory in subCategories %}
		                <span class="category-base category-sub me-2">{{ subCategory }}</span>
                    {% endfor %}
                {% endif %}
			{% endif %}
		</div>
	</section>

	<div role="main" class="main container">
		{# Programma inhoud #}

		<section class="row">
			<p class=" mt-0 mb-5">
				<strong>{{ entry.intro }}</strong>
			</p>
			{{ entry.programmaInhoud }}
		</section>

		{# Bouw hier de sociale media links met bijhorende iconen op, indien deze velden ingevuld zijn #}

		{% if entry.socialMediaLinks|length %}
        <section class="row">
            <div class="col">
                <div class="social-media-list">
                    
				<ul class="px-4 pt-4 m-0">
					{% for block in entry.socialMediaLinks.all() %}
						{% switch block.type %}
							{% case 'facebook' %}
								<li class="mb-4">
									<a href="{{ block.facebookLink }}" target="_blank" class="social-media-link d-flex align-items-center"><img src="../images/icons/facebook-inverse.svg" alt="facebook icon" class="pe-2"/>
										{{ block.facebookLink.text }}</a>
								</li>
							{% case 'instagram' %}
								<li class="mb-4">
									<a href="{{ block.instagramLink }}" target="_blank" class="social-media-link d-flex align-items-center"><img src="../images/icons/instagram-inverse.svg" alt="instagram icon" class="pe-2"/>
										{{ block.instagramLink.text }}</a>
								</li>
						{% endswitch %}
					{% endfor %}
				</ul>
                </div>
            </div>
		</section>
        {% endif %}

		{# {% if entry.cloudmix.embed is not null %}
			<div class="row mt-5">
				<div class="col">
					<h2>Herbeluister</2>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="mix-sound-cloud">
						{{ entry.cloudmix.render() }}
					</div>
				</div>
			</div>

		{% endif %} #}


		{# Programmanieuws overzicht #}
			
		{% set entries = craft.entries.type('programmanieuws').relatedTo(entry).limit(1) %}	
		{% set prgNieuws = entries.all() %}

		{% if entries|length %}
		{# Geef deze kop een id, zodat bij paginering op deze sectie gefocused blijft #}
			<h2 class="mt-5">Berichten</h2>
			
			{% paginate entries as pageInfo, pageEntries %}
			{% include "_includes/programma/programmanieuws" with { prgNieuws: pageEntries } only %}

			<div class="row mt-5 text-center">
			<div class="col">
				{# <a href="{{ pageInfo.firstUrl }}">First Page</a> #}
				{% if pageInfo.prevUrl %}<a class="pagination-changePage pagination-prevPage pagination-focus mx-3" href="{{ pageInfo.prevUrl }}" >&lt;</a>{% endif %}
				
				{% for page, url in pageInfo.getPrevUrls(5) %}
				  <a class="pagination-changePage pagination-focus mx-3" href="{{ url }}">{{ page }}</a>
				{% endfor %}
				
				<div class="pagination-changePage pagination-currentPage pagination-focus mx-3">{{ pageInfo.currentPage }}</div>
				
				{% for page, url in pageInfo.getNextUrls(5) %}
				  <a class="pagination-changePage pagination-focus mx-3" href="{{ url }}">{{ page }}</a>
				{% endfor %}
				
				{% if pageInfo.nextUrl %}<a class="pagination-changePage pagination-nextPage pagination-focus mx-3" href="{{ pageInfo.nextUrl }}">&gt;</a>{% endif %}
				{# <a href="{{ pageInfo.lastUrl }}">Last Page</a> #}
			</div>
		</div>
			
		{% endif %}




		{# Zoek eerst naar gelateerde stijlen op een hoger categorieniveau dan 2 #}
		{% set stijlen = entry.programmaStijl
			.level('3')
			.all() %}
		{# Indien geen matches, zoek dan op volgende categorieniveaus #}
		{% if stijlen == null %}
			{% set stijlen = entry.programmaStijl
				.level('2')
				.all() %}
		{% endif %}
		{% if stijlen == null %}
			{% set stijlen = entry.programmaStijl
				.level('1')
				.all() %}
		{% endif %}
		{# {% for stijl in stijlen %}
			<p>{{ stijl.title }}</p>
		{% endfor %} #}
		<section>
			<h3>Misschien vind je deze programma's ook leuk:</h3>
			<div class="row row-cols-2">
				
				{% set entries = craft.entries()
					.relatedTo(stijlen)
					.id('not ' ~ entry.id)
					.limit(4)
					.all() %}	
				
				{% for entry in entries %}
					<div class="col mt-3">
						{% set logo = entry.programmaLogo.one() %}
						<div class="row">
							<div class="col-sm-4 col-lg-3">
								<a href="{{ entry.url }}" class="d-md-inline-block">
									<div class="programma-logo d-inline-block al">
										<img src="{{ logo.url }}" alt="{{ logo.title }}	">
									</div>
								</a>
							</div>
							<div class="col-sm-8 col-lg-9">
								<a href="{{ entry.url }}" class="d-block text-truncate">
									<h3>{{ entry.title }}</h3>
									{{ entry.intro }}
										{# <div class="d-md-inline-block ms-md-4 align-self-start">
											<h3>{{ entry.title }}</h3>
											<p class="text-overflow">{{ entry.intro }}</p>
										</div> #}
									</div>
								</a>
						</div>
					</div>
				{% endfor %}	
			</div>
			<div class="row programma-suggestie">
				<div class="col">
					<a href="/programma" class="button-secondary mt-4">Ontdek alle programma's</a>	
				</div>
			</div>
		</section>
	</div>
{% endblock %}
