{% macro setRootCategory(rootCategory, marginsize) %}
	{% set rootCss = 'muziek' %}
	{% if rootCategory.title == 'Cultuur' %}
		{% set rootCss = 'cultuur' %}
	{% endif %}

	<span class="category-base category-root {{ rootCss }} my-2 my-lg-0 me-{{ marginsize }} py-0 px-2">{{ rootCategory }}</span>
{% endmacro %}

{% macro setLogo(programmaLogo, classNames) %}
	{% if programmaLogo is empty %}
		{% set logo = generic.programmadefaultlogo.one() %}
	{% else %}
		{% set logo = programmaLogo %}
	{% endif %}
	<img class="{{ classNames }}" src="{{ logo.url }}" alt="{{ logo.title }}">
{% endmacro %}
