{% macro setRootCategory(rootCategory, marginsize) %}
	{% set rootCss = 'muziek' %}
	{% if rootCategory.title == 'Cultuur' %}
		{% set rootCss = 'cultuur' %}
	{% endif %}

	<a href="{{ rootCategory.url }}"><span class="category-base category-root {{ rootCss }}  py-0 px-2 my-1 me-2">{{ rootCategory }}</span></a>
{% endmacro %}

{% macro setLogo(programmaLogo, classNames) %}
	{% if programmaLogo is empty %}
		{% set logo = generic.programmadefaultlogo.one() %}
	{% else %}
		{% set logo = programmaLogo %}
	{% endif %}
	<img class="{{ classNames }}" src="{{ logo.url }}" alt="{{ logo.title }}">
{% endmacro %}
