{% extends craft.app.request.isAjax and not craft.app.request.isLivePreview ? "_ajax" : "_layout" %}
{% set title = entry.title %}
{% set heroHeight = 75 %}

{% block metaData %}
	{% include '_includes/_metadata' with { title: title, description: 'Hoe kan je ons bereiken?' } %}
{% endblock %}

{% block content %}
	{% set heroHeight = 75 %}
	{% set image = entry.singlesBannerImage.one() %}
	{% set backgroundImageExtraSmall = image.getUrl('bannerImageXs') %}
	{% set backgroundImageSmall = image.getUrl('bannerImageS640w') %}
	{% set backgroundImageMedium = image.getUrl('bannerImageM1280w') %}
	{% set backgroundImageLarge = image.getUrl('bannerImageL1600w') %}
	{% set backgroundImageExtraLarge = image.getUrl('bannerImageXl2560w') %}

	<div class="hero d-flex align-items-center justify-content-center">
		<picture class="hero-background-picture">
			<source srcset="{{ backgroundImageExtraLarge }}" media="(min-width: 1920px)">
			<source srcset="{{ backgroundImageLarge }}" media="(min-width: 1600px)">
			<source srcset="{{ backgroundImageMedium }}" media="(min-width: 1280px)">
			<source srcset="{{ backgroundImageSmall }}" media="(max-width: 1279px)">
			<img src="{{ backgroundImageMedium }}" alt="picture of {{title}}"/>
		</picture>

		<div class="hero-content container align-self-end">
			<h1 id="title" data-title="{{ entry.title }}">
				<span>Contact</span>
			</h1>
		</div>
	</div>

	<div class="main container">
		<div class="row">
			<div class="col">
				{% set blocks = entry.contactContent.all() %}

				{% if blocks|length %}
					{% for block in blocks %}
						{% if block.type == 'textBlock' %}
							{{ block.textContent }}
						{% elseif block.type == 'cardGrid3Columns' %}
							{% set grid = block.grid[0] %}

							<div class="cards-grid row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
								{% for block in grid.cards.all() %}
									{% if block.type == 'card' %}
										<div class="col d-flex align-items-stretch">
											<div class="card-contact card w-100 h-100">
												<div class="card-body">
													<h4 class="card-title">{{ block.cardTitle }}</h4>
													<div class="card-text">
														{{ block.cardContent }}
													</div>
												</div>
											</div>
										</div>
									{% endif %}
								{% endfor %}
							</div>
						{% elseif block.type == 'cardGrid2Columns' %}
							{% set grid = block.grid[0] %}

							<div class="cards-grid row row-cols-1 row-cols-md-2 g-3">
								{% for block in grid.cards.all() %}
									{% if block.type == 'card' %}
										<div class="col d-flex align-items-stretch">
											<div class="card-contact card w-100 h-100">
												<div class="card-body">
													<h4 class="card-title">{{ block.cardTitle }}</h4>
													<div class="card-text">
														{{ block.cardContent }}
													</div>
												</div>
											</div>
										</div>
									{% endif %}
								{% endfor %}
							</div>
						{% elseif block.type == 'cardGrid1Column' %}
							{% set grid = block.grid[0] %}

							<div class="cards-grid row row-cols-1 g-3">
								{% for block in grid.cards.all() %}
									{% if block.type == 'card' %}
										<div class="col d-flex align-items-stretch">
											<div class="card-contact card w-100 h-100">
												<div class="card-body">
													<h4 class="card-title">{{ block.cardTitle }}</h4>
													<div class="card-text">
														{{ block.cardContent }}
													</div>
												</div>
											</div>
										</div>
									{% endif %}
								{% endfor %}
							</div>
						{% endif %}
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
