{% extends craft.app.request.isAjax and not craft.app.request.isLivePreview ? "_ajax" : "_layout" %}
{% set title = entry.title %}
{% set heroHeight = 75 %}

{% block content %}


	{% set heroHeight = 75 %}


	{% set image = entry.singlesBannerImage.one() %}
	{% set backgroundImageExtraSmall = image.getUrl('bannerImageXs') %}
	{% set backgroundImageSmall = image.getUrl('bannerImageS640w') %}
	{% set backgroundImageMedium = image.getUrl('bannerImageM1280w') %}
	{% set backgroundImageLarge = image.getUrl('bannerImageL1600w') %}
	{% set backgroundImageExtraLarge = image.getUrl('bannerImageXl2560w') %}
	<div class="hero d-flex align-items-center justify-content-center">
		<picture class="hero-background-picture">
			<source srcset="{{ backgroundImageExtraLarge }}" media="(min-width: 1920px)">
			<source srcset="{{ backgroundImageLarge }}" media="(min-width: 1600px)">
			<source srcset="{{ backgroundImageMedium }}" media="(min-width: 1280px)">
			<source srcset="{{ backgroundImageSmall }}" media="(max-width: 1279px)">
			<img src="{{ backgroundImageMedium }}" alt="picture of {{title}}"/>
		</picture>


		<div class="hero-content container align-self-end">

			<h1 id="title" data-title="{{ entry.title }}">
				<span>Contact</span>
			</h1>
		</div>
	</div>

	<div class="main container">
		<div class="row">
			<div class="col">
				<h2>Hoe kan je ons bereiken?</h2>
				<h3>Urgent.fm @ De Krook Gent</h3>

				<p>
					<strong>Urgent.fm vzw
						<br>
						Miriam Makebaplein 1<br>
						9000 Gent<br>
						<a href="mailto:contact@urgent.fm">contact@urgent.fm</a><br>+32 9 395 39 60</strong>
				</p>

				<p>
					<strong>Algemene coördinatie:
						<a href="mailto:tania.selleslags@urgent.fm">Tania Selleslags</a>
					</strong>
				</p>

				<p>
					De Urgent.fm redactie en studio&#39;s bevinden zich op het -1 niveau van het
																									Krookgebouw, eenvoudig te bereiken wanneer je op het Miriam Makebaplein - aan
																									de zijde van het Wintercircus - de trap naar beneden neemt.
																									Je kan ons ook vinden via de Platteberg Gent.
				</p>
				<p>
					Je ziet de radiostudio en redactieruimte vanuit de overdekte fietsstalling, onder de
																				hoofdingang, waar ook onze (dienst-)ingang zich bevindt.
																				Urgent.fm heeft geen deurbel maar wuif gerust even aan het venster.
				</p>

				<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
					<div class="col">
						<div class="card-contact card w-100 h-100">
							<div class="card-body">
								<h4 class="card-title">Leveringsadres</h4>
								<div class="card-text">Urgent.fm<br>Platteberg 11<br>9000 Gent</div>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card-contact card w-100 h-100">
							<div class="card-body">
								<h4 class="card-title">Postadres</h4>
								<div class="card-text">Urgent.fm<br>Miriam Makebaplein 1<br>9000 Gent</div>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card-contact card w-100 h-100">
							<div class="card-body">
								<h4 class="card-title">Facturatiegegevens</h4>
								<div class="card-text">Urgent.fm vzw<br>Miriam Makebaplein 1<br>9000 Gent<br>Btw.nr. 0457 048 162</div>
							</div>
						</div>
					</div>
				</div>

				<h2 class="mt-5">Meewerken of stage?</h2>
				<p>
					Richt je mail aan:
					<a href="mailto:contact@urgent.fm">Tania Selleslags</a>
				</p>

				<div class="row row-cols-1 row-cols-md-2 g-3">
					<div class="col">
						<div class="card-contact card w-100 h-100">
							<div class="card-body">
								<h4>Coördinatie medialab- en studentenwerking</h4>
								<div class="card-text">
									Coördinator Urgent.fm,
									<a href="mailto:tania.selleslags@urgent.fm">Tania Selleslags</a>
								</div>
							</div>
						</div>
					</div>

					<div class="col">
						<div class="card-contact card w-100 h-100">
							<div class="card-body">
								<div class="card-text">
									<h4>Partner en publiciteit?</h4>
									<a href="mailto:contact@urgent.fm">contact@urgent.fm</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<h2 class="mt-5 mb-3">Redacties</h2>

				<div class="row row-cols-1 row-cols-md-2 g-3">
					<div class="col d-flex align-items-stretch">
						<div class="card-contact card w-100 h-100">
							<div class="card-body">
								<h4>Medialab/studentenwerking</h4>
								<p>
									<strong>ONDER CONSTRUCTIE</strong>
								</p>
								<p>
									Deze werking verzamelt de studenten radio- en mediaprogrammatie,
																		het communicatie- en beeldteam, het cultuurplatform Tumult.fm, de
																		muziekredactie en de livestudio.
								</p>
								<p>
									<a href="mailto:onder.constructie@urgent.fm">onder.constructie@urgent.fm</a>
								</p>
							</div>
						</div>
					</div>
					<div class="col d-flex align-items-stretch">
						<div class="card-contact card w-100 h-100">
							<div class="card-body">
								<h4>Opname- en livestudio</h4>
								<p>
									<a href="mailto:opnamestudio@urgent.fm">opnamestudio@urgent.fm</a><br>
									Chaitanya Bhagwat en Tom Van Haute
								</p>
							</div>
						</div>
					</div>
					<div class="col d-flex align-items-stretch">
						<div class="card-contact card w-100 h-100">
							<div class="card-body">
								<h4>Muziekredactie</h4>
								<p>Info over playlisten of muziek doorsturen?</p>
								<p>
									<a href="mailto:muziek@urgent.fm">muziek@urgent.fm</a><br>
									Simon Santens en Mathijs Verhaegen
								</p>
							</div>
						</div>
					</div>
					<div class="col d-flex align-items-stretch">
						<div class="card-contact card w-100 h-100">
							<div class="card-body">
								<h4>Tumult.fm cultuurredactie</h4>
								<p>
									De cultuurredactie werd opgenomen in de ONDER CONSTRUCTIE-
																		werking maar voor culturele info:
								</p>
								<p>
									<a href="mailto:tumult@urgent.fm">tumult@urgent.fm</a><br>
									Timon Van De Voorde
								</p>
							</div>
						</div>
					</div>
				</div>

				<h2 class="mt-5">Avond- en weekenprogramma's</h2>
				<p>De contactgegevens van de verschillende programma's zijn te vinden onder de programmalink in het
					<a href="/programma">uitzendschema</a>.
				</p>
				<p>
					Algemene vragen over de avond en weekendprogramma's:
					<a href="mailto:contact@urgent.fm">contact@urgent.fm</a>
				</p>
			</div>
		</div>

		{#    {{ entry.programmaInhoud }}  #}

	</div>
{% endblock %}
