{% extends craft.app.request.isAjax and not craft.app.request.isLivePreview ? "_ajax" : "_layout" %}

{% block content %}
{% set image = entry.singlesBannerImage.one() %}
{% set backgroundImageSmall = image.getUrl('bannerImageBackgroundPortraitSmall576w') %}
{% set backgroundImageMedium = image.getUrl('bannerBackgroundImageLandscapeMedium1280w') %}
    <div class="d-flex align-items-center justify-content-center hpBanner" style="background-image: url('{{ image.url }}');background-position: center;">
        <picture style="width: 100%; height: 90vh">
			<source srcset="{{ backgroundImageMedium }}" media="(min-width: 1200px)	" style="height:90vh; object-fit:cover; object-position:center; 	width:100%; position: relative">
			<img src="{{ backgroundImageSmall }}"  style="height:90vh; 	object-fit:cover; object-position:center; width:100%; position: 	relative"/>
		</picture>
        <div class="container banner-content align-self-end" style="position: absolute; left:0; right:0;">
        {# <div class="container banner-window banner-content d-flex align-items-center" style="position: absolute"> #}
            <h1><span>{{ entry.singlesIntro }}</span></h1>
        </div>
    </div>

    <div class="main container">
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2">
            <div class="col col-md-9 col-lg-9">
                {{ entry.singlesInhoud }}
            </div>
            <div class="col col-md-3 col-lg-3">
                {# {% include "_includes/overUrgentfmMenu" %} #}
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link disabled" href="/wie-zijn-we"><strong>Wie zijn we?</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link" href="/workshops">Workshops</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

